/* Global Properties */
html {
  scroll-behavior: smooth;
}

/*body*/
body {
    /*background: #1f2235;*/
    font-family: "Baloo Tamma 2", cursive;
    background: url("./image/Backgroundimg.jpg") no-repeat fixed;
    background-size: cover;
  }
  
/* Main Heading Font */
.m-heading {
    font-family: "Roboto Slab", serif;
  }

/* Add a background color*/
.box {
    background-color: #f2f2f262;
    opacity: 0.95;
    width: 90%;
    margin: auto;
    border-radius: 5px;
  }
  .container-fluid {
    padding: 40px;
    width: 80%;
  }

/*Headshot*/
  .thick-black-border {
    border-color: rgba(255, 255, 255, 0.404);
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
}
.image-headshot {
    height: 200px;
    width: 250px;
}

/*Icon*/
.extraClass{ 
    font-size:40px; 
}

/*Contact icon*/
.smaller-image {
    width: 40px;
}

/*Footer*/
footer a{
    color: black;
}

/*Animated button*/
.animate__heartBeat {
    --animate-duration: 8s;
  }
  
/* This changes all the animations globally */
  :root {
    --animate-duration: 1s;
    --animate-delay: 2s;
  }




  